/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');
 *{
   font-family: "Roboto Mono" , sans-serif;
 }

.active {
   border-bottom: 3px solid rgb(255, 255, 255);
}

.card{
  box-shadow:1px 2px 20px  rgb(83, 81, 81);
}
.danger{
   color: red;
   font-weight: bold;
}
.success{
   color: green; 
}

#card-bottom p,i{
   font-size: 13px;

}
@media screen and (max-width:768px) {
   #card-bottom p,i{
         font-size: 10px;

   }
}

